* {
padding: 0px;
margin: 0px;
}

html {
font-size: 1px;
}

body {
scroll-behavior: smooth;
}

/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #a7a7a7; 
  border-radius: 10px;
}

/* Handle on hover */
body:-webkit-scrollbar-thumb:hover {
  background: #8b8b8b; 
}



/* ===================== MOBILE SECTION ADJUSTMENT ================= */
.mobile_nav_wrapper {
display: none;
}


/* ====================================================================== */
/* ========================== LOADING SECTION =========================== */
/* ====================================================================== */

/* ---- DISPLAY CONTROL ------- */
.loading_mbox {
display: flex;
width: 100%;
height: 100vh;
justify-content: center;
align-items: center;
background-color: white;
position: fixed;
top: 0px;
left: 0px;
z-index: 10000;
}

.loading_icon {
width: 100px;
}





/* ========= MAIN BOX =========== */
.mainbox {
width: 100%;
height: auto;
}


/* ========= HEADING BOX ========== */
.headbox {
width: 100%;
height: 700px;
background-image: linear-gradient(90deg, #3b3a3a 10%, #000000 70%);
border-bottom: 2px #151210 solid;
z-index: 100;
overflow-y: hidden;
overflow-x: hidden;
}

.headbox_img {
position: absolute;
width: 100%;
z-index: 0;
height: 700px;
opacity: 30%;
}

/* LOGO BOX */
.logobox {
position: absolute;
width: 400px;
height: 60px;
margin-top: 50px;
margin-left: 50px;
display: flex;
z-index: 200;
}

/* LOGO IMAGE */
.logoimg {
width: 50px;
height: 50px;
z-index: 200;
}

/* LOGO TEXT */
.logotxt {
font-size: 35px;
text-shadow: 2px 2px 3px rgb(138, 76, 0);
color: orange;
font-family: 'Poppins', sans-serif;
z-index: 200;
}

/* SOCIAL MEDIA BOX  */
.h_smbox {
position: absolute;
right: 50px;
height: 40px;
margin-top: 30px;
display: flex;
justify-content: space-around;
align-items: center;
width: 200px;
z-index: 200;
}

/* SEARCH BOX  */
.searchBox {
position: absolute;
width: 650px;
height: 60px;
margin-top: 600px;
margin-left: 50px;
z-index: 200;
display: flex;
}

/* SEACH INPUT  */
.search_in {
width: 600px;
height: 60px;
border-radius: 35px;
border: none;
outline: none;
background-color: white;
z-index: 100;
color: grey;
font-family: 'Poppins', sans-serif;
font-size: 20px;
padding-left: 35px;
}

/* SEARCH BUTTON  */
.search_bnt {
margin-left: -160px;
align-items: center;
appearance: none;
background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
border: 0;
border-radius: 35px;
box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
box-sizing: border-box;
color: #fff;
cursor: pointer;
font-family: 'Poppins', sans-serif;
height: 48px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 40px;
padding-right: 40px;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

.search_bnt:focus {
box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.search_bnt:hover {
box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
transform: translateY(-2px);
}

.search_bnt:active {
box-shadow: #3c4fe0 0 3px 7px inset;
transform: translateY(2px);
}

/* LEFT HEAD BOX  */
.headbox_left {
float: left;
width: 55%;
height: 400px;
margin-top: 150px;
overflow: hidden;
z-index: 200;
}

/* LONG SCROLLER BOX  */
.headbox_scrol_wraper {
width: 100%;
height: 2000px;
z-index: 200;
transition-duration: 0.6s;
} 

/* EACH ईशु गुप्ता SCROLLING BOX  */
.each-hbl {
width: 100%;
height: 400px;
box-sizing: border-box;
z-index: 200;
}

/* TEXT  */
.hbl_m_xt {
font-size: 50rem;
font-weight: 600;
color: rgb(255, 255, 255);
font-family: 'Poppins', sans-serif;
padding-left: 50px;
width: 90%;
z-index: 200;
padding-bottom: 20px;
position: relative;
}

/* TEXT  */
.hbl_stxt {
font-size: 20rem;
font-weight: 600;
color: rgb(255, 255, 255);
font-family: 'Nunito', sans-serif; 
padding-left: 50px;
width: 70%;
text-align: justify;
line-height: 30px;
z-index: 200;
position: relative;
}

/* BOX CONTAIN BUTTON  */
.hbl_btnbox {
width: 100%;
height: 50px;
margin-top: 40px;
display: flex;
}

/* BUTTON  */
.hbl_btn {
margin-top: 20px;
margin-left: 50px;
align-items: center;
appearance: none;
background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
border: 0;
border-radius: 6px;
box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-flex;
font-family: 'Poppins', sans-serif;
height: 48px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 20px;
padding-right: 20px;
position: relative;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

.hbl_btn:focus {
box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.hbl_btn:hover {
box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
transform: translateY(-2px);
}

.hbl_btn:active {
box-shadow: #3c4fe0 0 3px 7px inset;
transform: translateY(2px);
}



/* RIGHT HEAD BOX  */
.headbox_rightbox {
float: right;
width: 45%;
height: 650px;
margin-top: 40px;
box-sizing: border-box;
z-index: 200;
}

/* BOX CONTAIN CIRCLE BOX  */
.hbr_rotor_container {
float: right;
width: 600px;
height: 650px;
overflow: hidden;
margin-top: 50px;
position: relative;
}

/* ROTOR CICLE BOX  */
.rotor_1 {
width: 750px;
height: 750px;
border-radius: 50%;
position: absolute;
animation-name: rorotan;
animation-duration: 6s;
animation-iteration-count: infinite;
transform: scale(90%);
}

@keyframes rorotan {
  10% {
    margin-top: -10px;
    transform: scale(95%);
  }
  70% {
    margin-top: -40px;
    transform: scale(100%);
  }
  100% {
    margin-top: 0px;
    transform: scale(90%);
  }
}

/* CSS  */
.rotor_img1 {
width: 40px;
height: 40px;
position: absolute;
margin-top: 150px;
margin-left: 50px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* C  */
.rotor_img2 {
width: 40px;
height: 45px;
position: absolute;
margin-top: 270px;
margin-left: 60px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* NODE  */
.rotor_img3 {
width: 70px;
/* height: 70px; */
position: absolute;
margin-top: 400px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* PHP  */
.rotor_img4 {
width: 60px;
/* height: 70px; */
position: absolute;
margin-top: 520px;
margin-left: 80px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* HTML  */
.rotor_img5 {
width: 40px;
/* height: 70px; */
position: absolute;
margin-top: 530px;
margin-left: 350px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* JAVASCRIPT  */
.rotor_img6 {
width: 40px;
height: 40px;
position: absolute;
margin-top: 490px;
margin-left: 530px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* MYSQL  */
.rotor_img7 {
width: 70px;
height: 70px;
position: absolute;
margin-top: 320px;
margin-left: 600px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* SQL  */
.rotor_img8 {
width: 50px;
height: 50px;
position: absolute;
margin-top: 200px;
margin-left: 500px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* JAVA  */
.rotor_img9 {
width: 40px;
/* height: 40px; */
position: absolute;
margin-top: 80px;
margin-left: 450px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* JQUERY  */
.rotor_img10 {
width: 50px;
height: 50px;
position: absolute;
margin-top: 40px;
margin-left: 210px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* GOLANG  */
.rotor_img11 {
width: 40px;
height: 50px;
position: absolute;
margin-top: 180px;
margin-left: 180px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* KOTLIN  */
.rotor_img12 {
width: 50px;
/* height: 50px; */
position: absolute;
margin-top: 400px;
margin-left: 150px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* C++  */
.rotor_img13 {
width: 40px;
height: 45px;
position: absolute;
margin-top: 400px;
margin-left: 310px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* C#  */
.rotor_img14 {
width: 40px;
height: 40px;
position: absolute;
margin-top: 460px;
margin-left: 420px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* VUEJS  */
.rotor_img15 {
width: 50px;
height: 50px;
position: absolute;
margin-top: 150px;
margin-left: 310px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* ASP.NET  */
.rotor_img16 {
width: 40px;
height: 40px;
position: absolute;
margin-top: 350px;
margin-left: 390px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* DOT NET  */
.rotor_img17 {
width: 40px;
height: 40px;
position: absolute;
margin-top: 340px;
margin-left: 510px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* PYTHON  */
.rotor_img18 {
width: 50px;
height: 50px;
position: absolute;
margin-top: 500px;
margin-left: 210px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* BOOTSTRAP  */
.rotor_img19 {
width: 40px;
height: 40px;
position: absolute;
margin-top: 40px;
margin-left: 340px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* NPM  */
.rotor_img20 {
width: 50px;
height: 50px;
position: absolute;
margin-top: 250px;
margin-left: 360px;
transition-duration: 0.5s;
transform: scale(50%);
}

/* MONGODB  */
.rotor_img21 {
width: 40px;
/* height: 30px; */
position: absolute;
margin-top: 300px;
margin-left: 220px;
transition-duration: 0.5s;
transform: scale(50%); 
}






/* CARDS CONTAINER */
.cards_container {
padding-top: 100px;
width: 100%;
height: auto;
background-color: rgb(250,250,250);
padding-bottom: 80px;
}

/* WRAPPER  */
.cards_wrapper {
display: block;
margin-left: auto;
margin-right: auto;
width: 1200px;
height: auto;
}

/* ROW EACH  */
.cards_row {
width: 100%;
height: 600px;
display: flex;
justify-content: space-around;
align-items: center;
}

/* EACH CARD  */
.each_card {
width: 350px;
height: 500px;
border: 3px #d1d1d1 solid;
border-radius: 20px;
background-color: white;
transform: scale(100%);
transition-duration: 0.5s;
box-shadow: 0px 0px 15px 5px rgb(222, 221, 221);
}
.each_card:hover {
transform: scale(105%);
}

/* HEADING BOX  */
.eb_headbox {
width: 100%;
height: 150px;
background-color: #f3f3f3;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
display: flex;
}

/* BOX CONTAIN TEXT  */
.eb_hbox {
width: 70%;
height: 150px;
}

/* TEXT  */
.eachbox_htxt {
font-family: 'Poppins', sans-serif;
color: rgb(84, 84, 84);
font-size: 18px;
font-weight: 600;
width: 80%;
margin-left: 25px;
margin-top: 15px;
}

/* BOX CONTAIN IMAGE  */
.eb_himgbox {
width: 30%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
}

/* IMAGE  */
.eb_himg { 
width: 40px;
}

/* DESCRIPTION BOX  */
.eb_descbox {
width: 100%;
height: 210px;
}

/* BOX CONTAIN INFO  */
.eb_ci_box {
width: 100%;
height: 50px;
display: flex;
}

/* INFO LEFT BOX  */
.eb_ci_leftbox {
width: 50%;
height: 50px;
box-sizing: border-box;
display: flex;
justify-content: start;
align-items: center;
}

/* INFO RIGHT BOX  */
.eb_ci_rightbox {
width: 50%;
height: 50px;
box-sizing: border-box;
display: flex;
justify-content: start;
align-items: center;
}

/* CLOCK / BOOK ICON */
.eb_ci_icon {
width: 20px;
padding-left: 15px;
}

/* TEXT  */
.eb_ci_txt {
font-size: 15px;
color: rgb(43, 43, 43);
font-family: 'Poppins', sans-serif;
padding-left: 10px;
}

/* DESCRIPTION BOX  */
.eb_cdesc_box {
width: 100%;
height: 150px;
}

/* TEXT  */
.eb_cdesc_txt {
color: rgb(61, 61, 61);
font-family: 'Poppins', sans-serif;
font-size: 15px;
width: 90%;
margin-left: 5%;
margin-right: 5%;
}

/* LETS GO BUTTON  */
.eb_btn { 
margin-top: 20px;
margin-left: 20px;
align-items: center;
appearance: none;
background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
border: 0;
border-radius: 6px;
box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-flex;
font-family: 'Poppins', sans-serif;
height: 48px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
position: relative;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

.eb_btn:focus {
box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.eb_btn:hover {
box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
transform: translateY(-2px);
}

.eb_btn:active {
box-shadow: #3c4fe0 0 3px 7px inset;
transform: translateY(2px);
}

/* RATING BOX  */
.eb_rating_box {
width: 100%;
height: 50px;
margin-top: 10px;
display: flex;
justify-content: start;
align-items: center;
}

/* START ICON BOX  */
.eb_rat_iconbox {
width: 120px;
margin-left: 10px;
}

/* ICON  */
.eb_rat_icon { 
width: 20px;
}

/* RATING TEXT  */
.eb_rat_txt1 {
font-size: 15px;
font-family: 'Poppins', sans-serif;
font-weight: 600;
color: black;
padding-left: 20px;
}

/* TEXT 2  */
.eb_rat_txt2 {
font-size: 13px;
font-family: 'Poppins', sans-serif;
font-weight: 400;
color: rgb(148, 148, 148);
padding-left: 10px;
}




/* SECTION - CODING UI  */
.coding_ui_section {
width: 100%;
height: auto;
box-sizing: border-box;
padding-bottom: 100px;
}

/* BACKGROUND IMAGE  */
.cui_sec_ui_img {
width: 100%;
height: 770px;
position: absolute;
z-index: -100;
opacity: 50%;
}

/* WRAP BOX  */
.coding_ui_wrap {
display: flex;
width: 1200px;
height: auto;
margin-right: auto;
margin-left: auto;
margin-top: 60px;
}

/* TITLE TEXT  */
.coding_ui_htxt {
font-size: 35px;
font-weight: 600;
color: black;
text-align: center;
font-family: 'Poppins', sans-serif;
padding-top: 50px;
}

/* LEFT BOX  */
.cui_leftbox {
width: 50%;
height: auto;
}

/* TEXT  */
.cui_l_txt1 {
font-family: 'Poppins', sans-serif;
font-size: 35px;
font-weight: 600;
margin-top: 80px;
}

/* TEXT  */
.cui_l_txt2 {
font-family: 'Poppins', sans-serif;
font-size: 25px;
font-weight: 500;
margin-top: 40px;
color: grey;
width: 80%;
text-align: justify;
}

/* BOX CONTAIN MAGE  */
.cui_righttbox {
width: 50%;
height: auto;
}

/* IMAGE  */
.codeimg_sec {
width: 600px;
margin-top: 50px;
border-radius: 35px;
box-shadow: 5px 5px 20px 5px rgb(195, 255, 225);
}




/* SECTION - FOOTER */
.footerbox {
width: 96%;
margin-left: 2%;
margin-right: 2%;
display: block;
margin-bottom: 20px;
margin-top: 50px;
border-radius: 15px;
height: 60px;
border-top: 3px black solid;
background-image: linear-gradient(rgb(65, 65, 65) 20%, black 80%);
}

/* LEFT BOX  */
.f_leftbox {
width: 600px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 50px;
float: left;
}

/* IMAGE  */
.f_logo_img {
width: 25px;
}

/* LOGO - TEXT  */
.f_logo_txt {
color: white;
font-size: 20px;
font-family: 'Poppins', sans-serif;
margin-left: 20px;
}

/* LOGO - TEXT  */
.f_logo_txt1 {
color: white;
font-size: 17px;
font-family: 'Poppins', sans-serif;
margin-left: 20px;
color: grey;
}

/* RIGHT BOX  */
.f_rightbox {
float: right;
width: 250px;
height: 60px;
display: flex;
justify-content: space-around;
align-items: center;
margin-right: 50px;
}

/* SOCIAL MEDIA ICON  */
.f_sm_logo {
width: 25px;
transform: scale(100%);
transition-duration: 0.5s;
}

.f_sm_logo:hover {
transform: scale(110%);
}